mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-toolbar.mat-primary {
  background: #b3f302;
  color: black;
}
mat-card {
  width: 50%;
  margin: 1rem auto;
}

mat-form-field, button {
  display: block;
  width: 80%;
  margin: auto;
}

textarea {
  height: 10rem;
}

button {
  width: auto;
  margin-left: 10%;
}
.mat-success {
  background-color:  #b3f302;
  color: black;
}