<mat-toolbar color="primary">
  <div>
    <p>Placement Pin Board</p>
  </div>
</mat-toolbar>
<mat-card>
  <mat-form-field>
    <table>
      <li> 1
        <ul>Title - Placed</ul>
        <ul>Description - Placed in Dell</ul>
        <ul>Department - CSE</ul>
        <ul>Submitted by - Dr.Ramkrishnan</ul>
        <ul>Date - 21/10/2020</ul>
      </li>
      <li> 2
        <ul>Title - Placed</ul>
        <ul>Description - Placed in Microsoft</ul>
        <ul>Department - CSE</ul>
        <ul>Submitted by - Dr.Ramkrishnan</ul>
        <ul>Date - 09/11/2020</ul>
      </li>
    </table>
  </mat-form-field>
</mat-card>
